{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}


<div class="max-w-lg mx-auto">
    <div>
        <a href="{% url 'leads:lead-list' %}">Go back to leads</a>
    </div>

    <h1 class="mt-5 max-w-lg mb-4 text-4xl text-gray-800">Assign an agent to this lead</h1>
    <form method="POST" >
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">submit</button>
    </form>


</div>
{% endblock content %}
